h3,h2{
	text-align: center;
}
img,video{
	width: 400px;
	height: 200px;
}
.des{
	font-size: 20px;
	color: tomato;
	text-align: center;
	font-family: sans-serif;
}
.cadre{
	border: 2px solid red;
	padding-bottom: 180px;
}